@import "../var";
@import "../margin-padding/mixin-layout";
@import "../font/mixin-font";

%btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &.btn-disabled {
        background-color: $gray-light !important;
        color: $gray-dark !important;
        border-color: $gray !important;
        
        cursor: not-allowed;
        pointer-events: none;
    }

    @each $k, $v in $color {
        &.btn-#{$k} {
            background-color: $v;
            border-color: darken($v, 20%);
            color: #ffffff;

            &.btn-inverse {
                background-color: #fff;
                color: $v;
            }
        }
    }
}