@import "../var";
@import "./mixin-border";
@import "../font/mixin-font";


.bd-none {
    @include border($white, 0, 0, 1)
}

// radius
@each $borderRadius in $mpSize {
    .bd-radius-#{$borderRadius} {
        border-radius: $borderRadius * 1px;
    }
}

@each $k, $v in $color {

    // mobile border
    .m-bd-#{$k} {
        @include border($v, px2rem2(5), 1px, 1)
    }

    // pc border
    .bd-#{$k} {
        border: 1px solid $v;
    }

    @each $type, $width in $borderType {

        .m-bd-#{$k}-#{$type} {
            @include border($v, px2rem2(5), $width, 1)
        }

        .bd-#{$k}-#{$type} {
            border-width: $width;
            border-style: solid;
            border-color: $v;
        }

    }
}



