@import "../var";
@import "./mixin-border";
@import "../font/mixin-font";

// mobile border
.m-bd { @include border(#cecece, 0, 1px, 1) }
@each $type, $width in $borderType {
    .m-bd-#{$type} {
        @include border(#cecece, 0, $width, 1)
    }
}

// pc border with color
@each $k, $v in $color {
    .bd-#{$k} {
        border: 1px solid $v;
    }

    @each $type, $width in $borderType {
        .bd-#{$k}-#{$type} {
            border-width: $width;
            border-style: solid;
            border-color: $v;
        }
    }
}

// none
.m-bd-none {
    &:before {
        width: 0 !important;
        height: 0 !important;
        display: none !important;
    }
}

.bd-none {
    border: none !important;
}

// radius
@each $borderRadius in $radius {
    .radius-#{$borderRadius} {
        border-radius: $borderRadius * 1px;
    }
}

// outline
.no-outline {
    &:focus {
        outline: none;
    }
}


