@import '../var';
@import "./mixin-text";

@each $a in $align {
    @include text($a)
}

.no-wrap {
    white-space: nowrap;
}

.over-text {
    @extend .no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-through { text-decoration: line-through }
.line-none { text-decoration: none }
.break-all { word-break: break-all; }
