@import '../font/mixin-font';

%tag {
    display: inline-block;
    border: 1px transparent solid;
    border-radius: px2rem2(2);
    font-size: px2rem2(12);

    @each $k, $v in $color {

        &.tag-#{$k} {
            border-color: $v;
            color: $v;
        }

        &.tag-bg-#{$k} {
            border-color: $v;
            background-color: $v;
            color: #ffffff;
        }
    }
}

.rem-tag {
    @extend %tag;

    padding: px2rem2(3) px2rem2(10);

    &.tag-small {
        padding: px2rem2(2) px2rem2(3);
    }
}

.px-tag {
    @extend %tag;

    padding: 3px 10px;

    &.tag-small {
        padding: 2px 3px;
    }
}