@import '../var';
@import 'align';
@import 'position';
@import 'sizing';

@each $k,$v in $display {
    .display-#{$k} {
        display: $v !important;
    }
}

.select-none {
    user-select: none;
    -webkit-user-select: none;
}

.highlight-none {
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.touch-scroll {
    -webkit-overflow-scrolling: touch;
}

.overflow-h {
    overflow: hidden!important;
}

.overflow-a {
    overflow: auto !important;
}

.fl { float: left; }
.fr { float: right; }
.fn { float: none; }

.cl{
    &{ *zoom:1; }
    &:after,
    &:before{
        content: ".";
        display:block;
        clear: both;
        height: 0;
        overflow: hidden;
    }
}

.inner-shadow { box-shadow: 0 1px 3px rgba(0,0,0, .12) inset; }
.shadow-bottom { box-shadow: 0 2px 3px rgba(0,0,0, .12); }
.shadow-block { box-shadow: 0 1px 3px rgba(0,0,0, .1); }
.shadow-block-big { box-shadow: 0 1px 4px rgba(0,0,0, .3); }

.cursor-p { cursor: pointer }
.cursor-m { cursor: move }
.opacity-0 { opacity: 0; }
.opacity-1 { opacity: 1; }





