@import "../var";
@import '../font/mixin-font';

@each $k,$v in $position {
    .position-#{$k} {
        position: $v;
    }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

// @include absolute-middle(params) { @content }
@mixin absolute-middle ($width, $height, $top, $left) {
    position: absolute;
    width:px2rem($width);
    height:px2rem($height);
    @if ($top != "") {
        top: px2rem($top);
    } @else {
        top:50%;
        margin-top: px2rem(-$height/2);
    }
    @if ($left != "") {
        left: px2rem($left);
    } @else {
        left:50%;
        margin-left: px2rem(-$width/2);
    }
    @content;
}

// top left right bottom
@each $p in ('left', 'right', 'top', 'bottom') {
    @each $s in $mpSize {
        .#{$p}-#{$s} {
            #{$p}: $s * 1px
        }
    }
}
