@import "../var";

@each $k, $v in $color {
    .color-#{$k} {
        color: $v;
    }
    .bg-#{$k} {
        background-color: $v;
    }
    .bd-#{$k} {
        border-color: $v;
    }
}

.bg-f2 { background-color: #f2f2f2 !important; }
.bg-f7 { background-color: #f7f8f9 !important; }
.hover-bg {
    &:hover,
    &:active {
        background-color: #eee!important;
    }
}


