@import "../var";

@each $k, $v in $color {
    .color-#{$k} {
        color: $v;
    }
    .bg-#{$k} {
        background-color: $v;
    }
    .bd-#{$k} {
        border-color: $v;
    }
}

.bg-f2 { background-color: #f2f2f2 !important; }


