@import "../var";
@import "../function";
@import "./mixin-btn";

.btn {
    @extend %btn;

    &.px-btn {
        padding: 7px 20px;
        border-radius: 4px;

        &.btn-block {
            display: block!important;
            padding: 0;
            line-height: sizeMethod(40, 'px');
        }
    }

    &.rem-btn {
        padding: sizeMethod(5, 'rem') sizeMethod(10, 'rem');
        border-radius: sizeMethod(4, 'rem');

        &.btn-block {
            display: block!important;
            padding: 0;
            line-height: sizeMethod(40, 'rem');
        }
    }
}
