@import "../var";
@import "../font/mixin-font";
@import "../border/border";

%btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;

    &.btn-disabled {
        background-color: $ccc !important;
        color: $gray-lighter !important;
        border-color: $aaa !important;
        
        cursor: not-allowed;
        pointer-events: none;
    }

    @each $k, $v in $color {
        &.btn-#{$k} {
            background-color: $v;
            border-color: darken($v, 10%);
            color: #ffffff;
            @extend .bd-#{$k};

            &:hover {
                background-color: darken($v, 20%) !important;
            }

            &.btn-inverse {
                background-color: transparent;
                color: $v;

                &:hover {
                    color: #ffffff !important;
                }
            }
        }
    }
}