@charset "utf-8";
@import "./font/mixin-font";

@mixin GPU {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility:hidden;
    -webkit-perspective: 1000;
}

@function sizeMethod($size, $type) {
    @if ($type == 'rem') {
        @return px2rem2($size);
    }
    @else {
        @return $size * 1px;
    }
}