@import 'var';
@import './font/mixin-font';

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    font-family: "PingFang SC","Heiti SC","SF UI Text","Helvetica Neue", Roboto,"Droid Sans Fallback", 'Microsoft Yahei', arial,sans-serif;
    overflow: auto;

    &.touch {
        -webkit-touch-callout: none;
        -webkit-text-size-adjust: none;

        ::-webkit-input-placeholder { color:$placeholder; }
        ::-moz-placeholder { color:$placeholder; } /* firefox 19+ */
        :-ms-input-placeholder { color:$placeholder; } /* ie */
        input:-moz-placeholder { color:$placeholder; }
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;

    &.touch {
        margin-top: 0;
        margin-bottom: px2rem2(10);
    }
}

ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

a {
    text-decoration: none;
    color: #4e9afa;

    &:hover {
        color: #2080f0;
    }
}

img {
    border:none;
    vertical-align: middle;
}

input,
button,
select,
textarea {
    font: inherit;
    line-height: inherit;
}

input[type="radio"],
input[type="checkbox"] {
    &:disabled {
        cursor: not-allowed;
    }
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

[role="button"] {
    cursor: pointer;
}

[hidden] {
    display: none !important;
}
