@charset "utf-8";

$baseFontSize: 75;
// 尺寸的计量方式
$sizeType: px rem;
// 字体大小
$font: 8 10 12 14 16 18 20 24 28 32 40 45;
// 色值定义
$color: (red: #fa565a, blue: #0099cc, dark: #333, gray: #aaa, orange: #FC9153);
// 内外边距大小定义
$mpSize: 5 10 15 20;
// display
$display: (i: inline, b: block, ib: inline-block, n: none);
// position
$position: (s: static, r: relative, a: absolute, f: fixed);