@charset "utf-8";

$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// placeholder color-bg-bd
$placeholder: #dcdcdc !default;

$baseFontSize: 75 !default;

// 尺寸的计量方式
$sizeType: px rem !default;

// 字体大小
$font: 8 10 12 14 16 18 20 24 28 32 40 45 !default;

// 色值定义
$color: (
    success: $green,
    error: $red,
    info: $blue,
    dark: $gray-dark,
    warning: $orange,
    fff: #ffffff
) !default;

// 内外边距大小定义
$mpSize: 5 10 15 20 25 30 40 !default;

// display
$display: (i: inline, b: block, ib: inline-block, n: none);

// position
$position: (s: static, r: relative, a: absolute, f: fixed);

// 宽度／高度／行高
$size: 5 10 15 20 30 40 45 50 55 60 70 80 90 100;

$borderType: (
        l: 0 0 0 1px,
        r: 0 1px 0 0,
        t: 1px 0 0 0,
        b: 0 0 1px 0,
        lr: 0 1px,
        tb: 1px 0
);
