html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "PingFang SC","Heiti SC","SF UI Text","Helvetica Neue", Roboto,"Droid Sans Fallback", 'Microsoft Yahei', arial,sans-serif;
  overflow: auto; }
  body.touch {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    /* firefox 19+ */
    /* ie */ }
    body.touch ::-webkit-input-placeholder {
      color: #dcdcdc; }
    body.touch ::-moz-placeholder {
      color: #dcdcdc; }
    body.touch :-ms-input-placeholder {
      color: #dcdcdc; }
    body.touch input:-moz-placeholder {
      color: #dcdcdc; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }
  body.touch, h1.touch, h2.touch, h3.touch, h4.touch, h5.touch, h6.touch, p.touch {
    margin-top: 0;
    margin-bottom: 0.26667rem; }

ol, ul, dl {
  margin: 0;
  padding: 0;
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #4e9afa; }
  a:hover {
    color: #2080f0; }

img {
  border: none;
  vertical-align: middle; }

input,
button,
select,
textarea {
  font: inherit;
  line-height: inherit; }

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

.select-none {
  user-select: none;
  -webkit-user-select: none; }

.highlight-none {
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent; }

.touch-scroll {
  -webkit-overflow-scrolling: touch; }

[role="button"] {
  cursor: pointer; }

[hidden] {
  display: none !important; }

.px-font-8 {
  font-size: 8px; }

.px-font-10 {
  font-size: 10px; }

.px-font-12 {
  font-size: 12px; }

.px-font-14 {
  font-size: 14px; }

.px-font-16 {
  font-size: 16px; }

.px-font-18 {
  font-size: 18px; }

.px-font-20 {
  font-size: 20px; }

.px-font-24 {
  font-size: 24px; }

.px-font-28 {
  font-size: 28px; }

.px-font-32 {
  font-size: 32px; }

.px-font-40 {
  font-size: 40px; }

.px-font-45 {
  font-size: 45px; }

.rem-font-8 {
  font-size: 0.21333rem; }

.rem-font-10 {
  font-size: 0.26667rem; }

.rem-font-12 {
  font-size: 0.32rem; }

.rem-font-14 {
  font-size: 0.37333rem; }

.rem-font-16 {
  font-size: 0.42667rem; }

.rem-font-18 {
  font-size: 0.48rem; }

.rem-font-20 {
  font-size: 0.53333rem; }

.rem-font-24 {
  font-size: 0.64rem; }

.rem-font-28 {
  font-size: 0.74667rem; }

.rem-font-32 {
  font-size: 0.85333rem; }

.rem-font-40 {
  font-size: 1.06667rem; }

.rem-font-45 {
  font-size: 1.2rem; }

.over-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.no-wrap {
  white-space: nowrap;
  word-break: keep-all; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.line-through {
  text-decoration: line-through; }

.line-none {
  text-decoration: none; }

.color-red {
  color: #fa565a; }

.bg-red {
  background-color: #fa565a; }

.bd-red {
  border-color: #fa565a; }

.color-blue {
  color: #0099cc; }

.bg-blue {
  background-color: #0099cc; }

.bd-blue {
  border-color: #0099cc; }

.color-dark {
  color: #333; }

.bg-dark {
  background-color: #333; }

.bd-dark {
  border-color: #333; }

.color-gray {
  color: #aaa; }

.bg-gray {
  background-color: #aaa; }

.bd-gray {
  border-color: #aaa; }

.color-orange {
  color: #FC9153; }

.bg-orange {
  background-color: #FC9153; }

.bd-orange {
  border-color: #FC9153; }

.display-i {
  display: inline; }

.display-b {
  display: block; }

.display-ib {
  display: inline-block; }

.display-n {
  display: none; }

.position-s {
  position: static; }

.position-r {
  position: relative; }

.position-a {
  position: absolute; }

.position-f {
  position: fixed; }

.fl {
  float: left; }

.fr {
  float: right; }

.cl {
  *zoom: 1; }
.cl:after, .cl:before {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

.m-scroll {
  -webkit-overflow-scrolling: touch; }

.px-padding-5 {
  padding: 5px; }

.px-padding-tb5 {
  padding: 5px 0; }

.px-padding-lr5 {
  padding: 0 5px; }

.px-padding-t5 {
  padding: 5px 0 0 0; }

.px-padding-l5 {
  padding: 0 0 0 5px; }

.px-padding-r5 {
  padding: 0 5px 0 0; }

.px-padding-b5 {
  padding: 0 0 5px 0; }

.px-margin-5 {
  margin: 5px; }

.px-margin-tb5 {
  margin: 5px 0; }

.px-margin-lr5 {
  margin: 0 5px; }

.px-margin-t5 {
  margin: 5px 0 0 0; }

.px-margin-l5 {
  margin: 0 0 0 5px; }

.px-margin-r5 {
  margin: 0 5px 0 0; }

.px-margin-b5 {
  margin: 0 0 5px 0; }

.px-padding-10 {
  padding: 10px; }

.px-padding-tb10 {
  padding: 10px 0; }

.px-padding-lr10 {
  padding: 0 10px; }

.px-padding-t10 {
  padding: 10px 0 0 0; }

.px-padding-l10 {
  padding: 0 0 0 10px; }

.px-padding-r10 {
  padding: 0 10px 0 0; }

.px-padding-b10 {
  padding: 0 0 10px 0; }

.px-margin-10 {
  margin: 10px; }

.px-margin-tb10 {
  margin: 10px 0; }

.px-margin-lr10 {
  margin: 0 10px; }

.px-margin-t10 {
  margin: 10px 0 0 0; }

.px-margin-l10 {
  margin: 0 0 0 10px; }

.px-margin-r10 {
  margin: 0 10px 0 0; }

.px-margin-b10 {
  margin: 0 0 10px 0; }

.px-padding-15 {
  padding: 15px; }

.px-padding-tb15 {
  padding: 15px 0; }

.px-padding-lr15 {
  padding: 0 15px; }

.px-padding-t15 {
  padding: 15px 0 0 0; }

.px-padding-l15 {
  padding: 0 0 0 15px; }

.px-padding-r15 {
  padding: 0 15px 0 0; }

.px-padding-b15 {
  padding: 0 0 15px 0; }

.px-margin-15 {
  margin: 15px; }

.px-margin-tb15 {
  margin: 15px 0; }

.px-margin-lr15 {
  margin: 0 15px; }

.px-margin-t15 {
  margin: 15px 0 0 0; }

.px-margin-l15 {
  margin: 0 0 0 15px; }

.px-margin-r15 {
  margin: 0 15px 0 0; }

.px-margin-b15 {
  margin: 0 0 15px 0; }

.px-padding-20 {
  padding: 20px; }

.px-padding-tb20 {
  padding: 20px 0; }

.px-padding-lr20 {
  padding: 0 20px; }

.px-padding-t20 {
  padding: 20px 0 0 0; }

.px-padding-l20 {
  padding: 0 0 0 20px; }

.px-padding-r20 {
  padding: 0 20px 0 0; }

.px-padding-b20 {
  padding: 0 0 20px 0; }

.px-margin-20 {
  margin: 20px; }

.px-margin-tb20 {
  margin: 20px 0; }

.px-margin-lr20 {
  margin: 0 20px; }

.px-margin-t20 {
  margin: 20px 0 0 0; }

.px-margin-l20 {
  margin: 0 0 0 20px; }

.px-margin-r20 {
  margin: 0 20px 0 0; }

.px-margin-b20 {
  margin: 0 0 20px 0; }

.rem-padding-5 {
  padding: 0.13333rem; }

.rem-padding-tb5 {
  padding: 0.13333rem 0; }

.rem-padding-lr5 {
  padding: 0 0.13333rem; }

.rem-padding-t5 {
  padding: 0.13333rem 0 0 0; }

.rem-padding-l5 {
  padding: 0 0 0 0.13333rem; }

.rem-padding-r5 {
  padding: 0 0.13333rem 0 0; }

.rem-padding-b5 {
  padding: 0 0 0.13333rem 0; }

.rem-margin-5 {
  margin: 0.13333rem; }

.rem-margin-tb5 {
  margin: 0.13333rem 0; }

.rem-margin-lr5 {
  margin: 0 0.13333rem; }

.rem-margin-t5 {
  margin: 0.13333rem 0 0 0; }

.rem-margin-l5 {
  margin: 0 0 0 0.13333rem; }

.rem-margin-r5 {
  margin: 0 0.13333rem 0 0; }

.rem-margin-b5 {
  margin: 0 0 0.13333rem 0; }

.rem-padding-10 {
  padding: 0.26667rem; }

.rem-padding-tb10 {
  padding: 0.26667rem 0; }

.rem-padding-lr10 {
  padding: 0 0.26667rem; }

.rem-padding-t10 {
  padding: 0.26667rem 0 0 0; }

.rem-padding-l10 {
  padding: 0 0 0 0.26667rem; }

.rem-padding-r10 {
  padding: 0 0.26667rem 0 0; }

.rem-padding-b10 {
  padding: 0 0 0.26667rem 0; }

.rem-margin-10 {
  margin: 0.26667rem; }

.rem-margin-tb10 {
  margin: 0.26667rem 0; }

.rem-margin-lr10 {
  margin: 0 0.26667rem; }

.rem-margin-t10 {
  margin: 0.26667rem 0 0 0; }

.rem-margin-l10 {
  margin: 0 0 0 0.26667rem; }

.rem-margin-r10 {
  margin: 0 0.26667rem 0 0; }

.rem-margin-b10 {
  margin: 0 0 0.26667rem 0; }

.rem-padding-15 {
  padding: 0.4rem; }

.rem-padding-tb15 {
  padding: 0.4rem 0; }

.rem-padding-lr15 {
  padding: 0 0.4rem; }

.rem-padding-t15 {
  padding: 0.4rem 0 0 0; }

.rem-padding-l15 {
  padding: 0 0 0 0.4rem; }

.rem-padding-r15 {
  padding: 0 0.4rem 0 0; }

.rem-padding-b15 {
  padding: 0 0 0.4rem 0; }

.rem-margin-15 {
  margin: 0.4rem; }

.rem-margin-tb15 {
  margin: 0.4rem 0; }

.rem-margin-lr15 {
  margin: 0 0.4rem; }

.rem-margin-t15 {
  margin: 0.4rem 0 0 0; }

.rem-margin-l15 {
  margin: 0 0 0 0.4rem; }

.rem-margin-r15 {
  margin: 0 0.4rem 0 0; }

.rem-margin-b15 {
  margin: 0 0 0.4rem 0; }

.rem-padding-20 {
  padding: 0.53333rem; }

.rem-padding-tb20 {
  padding: 0.53333rem 0; }

.rem-padding-lr20 {
  padding: 0 0.53333rem; }

.rem-padding-t20 {
  padding: 0.53333rem 0 0 0; }

.rem-padding-l20 {
  padding: 0 0 0 0.53333rem; }

.rem-padding-r20 {
  padding: 0 0.53333rem 0 0; }

.rem-padding-b20 {
  padding: 0 0 0.53333rem 0; }

.rem-margin-20 {
  margin: 0.53333rem; }

.rem-margin-tb20 {
  margin: 0.53333rem 0; }

.rem-margin-lr20 {
  margin: 0 0.53333rem; }

.rem-margin-t20 {
  margin: 0.53333rem 0 0 0; }

.rem-margin-l20 {
  margin: 0 0 0 0.53333rem; }

.rem-margin-r20 {
  margin: 0 0.53333rem 0 0; }

.rem-margin-b20 {
  margin: 0 0 0.53333rem 0; }

.bd-red:before, .bd-red-l:before, .bd-red-r:before, .bd-red-t:before, .bd-red-b:before, .bd-blue:before, .bd-blue-l:before, .bd-blue-r:before, .bd-blue-t:before, .bd-blue-b:before, .bd-dark:before, .bd-dark-l:before, .bd-dark-r:before, .bd-dark-t:before, .bd-dark-b:before, .bd-gray:before, .bd-gray-l:before, .bd-gray-r:before, .bd-gray-t:before, .bd-gray-b:before, .bd-orange:before, .bd-orange-l:before, .bd-orange-r:before, .bd-orange-t:before, .bd-orange-b:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  border-style: solid;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none; }

.bd-red {
  position: relative;
  border: none; }
  .bd-red:before {
    border-color: #fa565a;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-red-l {
  position: relative;
  border: none; }
  .bd-red-l:before {
    border-color: #fa565a;
    border-width: 0 0 0 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-red-r {
  position: relative;
  border: none; }
  .bd-red-r:before {
    border-color: #fa565a;
    border-width: 0 1px 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-red-t {
  position: relative;
  border: none; }
  .bd-red-t:before {
    border-color: #fa565a;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-red-b {
  position: relative;
  border: none; }
  .bd-red-b:before {
    border-color: #fa565a;
    border-width: 0 0 1px 0;
    border-radius: 5px;
    z-index: 1; }

.bd-blue {
  position: relative;
  border: none; }
  .bd-blue:before {
    border-color: #0099cc;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-blue-l {
  position: relative;
  border: none; }
  .bd-blue-l:before {
    border-color: #0099cc;
    border-width: 0 0 0 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-blue-r {
  position: relative;
  border: none; }
  .bd-blue-r:before {
    border-color: #0099cc;
    border-width: 0 1px 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-blue-t {
  position: relative;
  border: none; }
  .bd-blue-t:before {
    border-color: #0099cc;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-blue-b {
  position: relative;
  border: none; }
  .bd-blue-b:before {
    border-color: #0099cc;
    border-width: 0 0 1px 0;
    border-radius: 5px;
    z-index: 1; }

.bd-dark {
  position: relative;
  border: none; }
  .bd-dark:before {
    border-color: #333;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-dark-l {
  position: relative;
  border: none; }
  .bd-dark-l:before {
    border-color: #333;
    border-width: 0 0 0 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-dark-r {
  position: relative;
  border: none; }
  .bd-dark-r:before {
    border-color: #333;
    border-width: 0 1px 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-dark-t {
  position: relative;
  border: none; }
  .bd-dark-t:before {
    border-color: #333;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-dark-b {
  position: relative;
  border: none; }
  .bd-dark-b:before {
    border-color: #333;
    border-width: 0 0 1px 0;
    border-radius: 5px;
    z-index: 1; }

.bd-gray {
  position: relative;
  border: none; }
  .bd-gray:before {
    border-color: #aaa;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-gray-l {
  position: relative;
  border: none; }
  .bd-gray-l:before {
    border-color: #aaa;
    border-width: 0 0 0 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-gray-r {
  position: relative;
  border: none; }
  .bd-gray-r:before {
    border-color: #aaa;
    border-width: 0 1px 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-gray-t {
  position: relative;
  border: none; }
  .bd-gray-t:before {
    border-color: #aaa;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-gray-b {
  position: relative;
  border: none; }
  .bd-gray-b:before {
    border-color: #aaa;
    border-width: 0 0 1px 0;
    border-radius: 5px;
    z-index: 1; }

.bd-orange {
  position: relative;
  border: none; }
  .bd-orange:before {
    border-color: #FC9153;
    border-width: 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-orange-l {
  position: relative;
  border: none; }
  .bd-orange-l:before {
    border-color: #FC9153;
    border-width: 0 0 0 1px;
    border-radius: 5px;
    z-index: 1; }

.bd-orange-r {
  position: relative;
  border: none; }
  .bd-orange-r:before {
    border-color: #FC9153;
    border-width: 0 1px 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-orange-t {
  position: relative;
  border: none; }
  .bd-orange-t:before {
    border-color: #FC9153;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    z-index: 1; }

.bd-orange-b {
  position: relative;
  border: none; }
  .bd-orange-b:before {
    border-color: #FC9153;
    border-width: 0 0 1px 0;
    border-radius: 5px;
    z-index: 1; }

.btn {
  display: inline-block;
  text-align: center;
  border: 1px #ccc solid;
  color: #666;
  text-decoration: none; }
  .disabled.btn {
    background-color: #cccccc !important;
    color: #aaaaaa !important;
    border-color: #cccccc !important;
    cursor: not-allowed;
    pointer-events: none; }
  .red.btn {
    background-color: #fa565a;
    border-color: #fa565a;
    color: #ffffff; }
    .red.inverse.btn {
      background-color: #fff;
      color: #fa565a; }
  .blue.btn {
    background-color: #0099cc;
    border-color: #0099cc;
    color: #ffffff; }
    .blue.inverse.btn {
      background-color: #fff;
      color: #0099cc; }
  .dark.btn {
    background-color: #333;
    border-color: #333;
    color: #ffffff; }
    .dark.inverse.btn {
      background-color: #fff;
      color: #333; }
  .gray.btn {
    background-color: #aaa;
    border-color: #aaa;
    color: #ffffff; }
    .gray.inverse.btn {
      background-color: #fff;
      color: #aaa; }
  .orange.btn {
    background-color: #FC9153;
    border-color: #FC9153;
    color: #ffffff; }
    .orange.inverse.btn {
      background-color: #fff;
      color: #FC9153; }

.btn.px-btn {
  padding: 7px 20px;
  border-radius: 4px; }
.btn.rem-btn {
  padding: 0.13333rem 0.26667rem;
  border-radius: 0.10667rem; }
  .btn.rem-btn.block {
    display: block;
    padding: 0;
    line-height: 1.06667rem; }

/*# sourceMappingURL=mui.css.map */
