@import "../var";

@mixin bd($color) {
    border-color: $color;
}
@mixin bg($color) {
    background-color: $color;
}

@each $k, $v in $color {
    %color-#{$k} {
        color: $v;
    }
    %bg-#{$k} {
        background-color: $v;
    }
    %bd-#{$k} {
        border-color: $v;
    }
}