/*
Error: File to import not found or unreadable: ../src/basic/color-bg-bd/mixin-color.
        on line 2 of demo.scss

1: @import "../src/basic/font/mixin-font";
2: @import "../src/basic/color-bg-bd/mixin-color";
3: @import "../src/basic/margin-padding/mixin-layout";
4: 
5: body {
6:     width: 10rem;
7:     margin: 0 auto;

Backtrace:
demo.scss:2
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/bin/scss:22:in `load'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/bin/scss:22:in `<main>'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `eval'
/Users/yangming/.rvm/gems/ruby-2.0.0-p648/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../src/basic/color-bg-bd/mixin-color.\A         on line 2 of demo.scss\A \A 1: @import \"../src/basic/font/mixin-font\";\A 2: @import \"../src/basic/color-bg-bd/mixin-color\";\A 3: @import \"../src/basic/margin-padding/mixin-layout\";\A 4: \A 5: body {\A 6:     width: 10rem;\A 7:     margin: 0 auto;"; }
