@import "../src/basic/font/mixin-font";
@import "../src/basic/color-bg-bd/mixin-color";
@import "../src/basic/margin-padding/mixin-layout";

body {
    width: 10rem;
    margin: 0 auto;

    border: 1px #cdcdcd solid;
}

.module {
    @include px(14);

    .title {
        @include px(18);
        @extend %bg-red;
        color: #ffffff;
        margin: 20px 0 10px 0;
        border-radius: 5px;
    }
    p {
        border-bottom: 1px #ddd dashed;
        padding: 13px 0;
    }

    &.text {
        .over-text {
            width: 100px;
            @extend %color-red;
        }
    }
}