@import "../var";
@import "../function";

@each $i in $sizeType {
    @each $v in $mpSize {
        $mp: (
            $v: sizeMethod($v, $i),
            tb+$v: sizeMethod($v, $i) 0,
            lr+$v: 0 sizeMethod($v, $i),
            t+$v: sizeMethod($v, $i) 0 0 0,
            l+$v: 0 0 0 sizeMethod($v, $i),
            r+$v: 0 sizeMethod($v, $i) 0 0,
            b+$v: 0 0 sizeMethod($v, $i) 0
        );
        @each $k, $kv in $mp {
            %#{$i}-padding-#{$k} {
                padding: $kv;
            }
        }
        @each $k, $kv in $mp {
            %#{$i}-margin-#{$k} {
                margin: $kv;
            }
        }
    }
}

@each $k,$v in $display {
    %display-#{$k} {
        display: $v;
    }
}
@each $k,$v in $position {
    %position-#{$k} {
        position: $v;
    }
}
%m-scroll {
    -webkit-overflow-scrolling: touch;
}
%fl { float: left }
%fr { float: right }
%cl{
    &{ *zoom:1; }
    &:after,
    &:before{
        content: ".";
        display:block;
        clear: both;
        height: 0;
        overflow: hidden;
    }
}

// @include absolute-middle(params) { @content }
@mixin absolute-middle ($width, $height, $top, $left) {
    position: absolute;
    width:px2rem($width);
    height:px2rem($height);
    @if ($top != "") {
        top: px2rem($top);
    } @else {
        top:50%;
        margin-top: px2rem(-$height/2);
    }
    @if ($left != "") {
        left: px2rem($left);
    } @else {
        left:50%;
        margin-left: px2rem(-$width/2);
    }
    @content;
}
